@use "bootstrap-sass-modules/scss/variables";
@use "bootstrap-sass-modules/scss/maps";

$bcq-utilities: () !default;
$bcq-utilities: map-merge(
  (
    "container-queries-display": (
      responsive: true,
      property: display,
      class: bcq-d,
      values: inline inline-block block grid inline-grid table table-row
      table-cell flex inline-flex none,
    ),
    "container-queries-flex-direction": (
      responsive: true,
      property: flex-direction,
      class: bcq-flex,
      values: column column-reverse row row-reverse,
    ),
    "container-queries-text-align": (
      responsive: true,
      property: text-align,
      class: bcq-text,
      values: (
        start: left,
        end: right,
        center: center,
      ),
    ),
    "container-queries-float": (
      responsive: true,
      property: float,
      class: bcq-float,
      values: (
        start: left,
        end: right,
        none: none,
      ),
    ),
    "container-queries-margin": (
      responsive: true,
      property: margin,
      class: bcq-m,
      values:
      map-merge(
        variables.$spacers,
        (
          auto: auto,
        )
      ),
    ),
    "container-queries-margin-x": (
      responsive: true,
      property: margin-right margin-left,
      class: bcq-mx,
      values:
      map-merge(
        variables.$spacers,
        (
          auto: auto,
        )
      ),
    ),
    "container-queries-margin-y": (
      responsive: true,
      property: margin-top margin-bottom,
      class: bcq-my,
      values:
      map-merge(
        variables.$spacers,
        (
          auto: auto,
        )
      ),
    ),
    "container-queries-margin-top": (
      responsive: true,
      property: margin-top,
      class: bcq-mt,
      values:
      map-merge(
        variables.$spacers,
        (
          auto: auto,
        )
      ),
    ),
    "container-queries-margin-end": (
      responsive: true,
      property: margin-right,
      class: bcq-me,
      values:
      map-merge(
        variables.$spacers,
        (
          auto: auto,
        )
      ),
    ),
    "container-queries-margin-bottom": (
      responsive: true,
      property: margin-bottom,
      class: bcq-mb,
      values:
      map-merge(
        variables.$spacers,
        (
          auto: auto,
        )
      ),
    ),
    "container-queries-margin-start": (
      responsive: true,
      property: margin-left,
      class: bcq-ms,
      values:
      map-merge(
        variables.$spacers,
        (
          auto: auto,
        )
      ),
    ),
    "container-queries-negative-margin": (
      responsive: true,
      property: margin,
      class: bcq-m,
      values: maps.$negative-spacers,
    ),
    "container-queries-negative-margin-x": (
      responsive: true,
      property: margin-right margin-left,
      class: bcq-mx,
      values: maps.$negative-spacers,
    ),
    "container-queries-negative-margin-y": (
      responsive: true,
      property: margin-top margin-bottom,
      class: bcq-my,
      values: maps.$negative-spacers,
    ),
    "container-queries-negative-margin-top": (
      responsive: true,
      property: margin-top,
      class: bcq-mt,
      values: maps.$negative-spacers,
    ),
    "container-queries-negative-margin-end": (
      responsive: true,
      property: margin-right,
      class: bcq-me,
      values: maps.$negative-spacers,
    ),
    "container-queries-negative-margin-bottom": (
      responsive: true,
      property: margin-bottom,
      class: bcq-mb,
      values: maps.$negative-spacers,
    ),
    "container-queries-negative-margin-start": (
      responsive: true,
      property: margin-left,
      class: bcq-ms,
      values: maps.$negative-spacers,
    ),
    "container-queries-padding": (
      responsive: true,
      property: padding,
      class: bcq-p,
      values: variables.$spacers,
    ),
    "container-queries-padding-x": (
      responsive: true,
      property: padding-right padding-left,
      class: bcq-px,
      values: variables.$spacers,
    ),
    "container-queries-padding-y": (
      responsive: true,
      property: padding-top padding-bottom,
      class: bcq-py,
      values: variables.$spacers,
    ),
    "container-queries-padding-top": (
      responsive: true,
      property: padding-top,
      class: bcq-pt,
      values: variables.$spacers,
    ),
    "container-queries-padding-end": (
      responsive: true,
      property: padding-right,
      class: bcq-pe,
      values: variables.$spacers,
    ),
    "container-queries-padding-bottom": (
      responsive: true,
      property: padding-bottom,
      class: bcq-pb,
      values: variables.$spacers,
    ),
    "container-queries-padding-start": (
      responsive: true,
      property: padding-left,
      class: bcq-ps,
      values: variables.$spacers,
    ),
  ),
  $bcq-utilities
);
